<div id="<%= dom_id payment %>">
  <p>
    <strong>Lease:</strong>
    <%= payment.lease_id %>
  </p>

  <p>
    <strong>Tenant:</strong>
    <%= payment.tenant_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>Paid on:</strong>
    <%= payment.paid_on %>
  </p>

</div>
